<h1><%= title %></h1>

     <!-- Mensajes de error o éxito -->
     <% if (messages.error) { %>
        <div class="error"><%= messages.error %></div>
    <% } %>
    <% if (messages.success) { %>
        <div class="success"><%= messages.success %></div>
    <% } %>
    <!-- Form to add vehicle -->
    <form class="editCar-form" action="/inv/update" method="POST" onsubmit="return validateForm()">
        <label for="classification">Classification:</label>
        <%- classificationDropdown  %>

        <label for="inv_make">Make:</label>
  <input type="text" name="inv_make" id="inv_make" value="<%= inv_make %>" required>

  <label for="inv_model">Model:</label>
  <input type="text" name="inv_model" id="inv_model" value="<%= inv_model %>" required>

  <label for="inv_year">Year:</label>
  <input type="text" name="inv_year" id="inv_year" value="<%= inv_year %>" required>

  <label for="inv_description">Description:</label>
  <textarea name="inv_description" id="inv_description" style="width: 100%;" required><%= inv_description %></textarea>

  <label for="inv_image">Image Path:</label>
  <input type="text" name="inv_image" id="inv_image" value="<%= inv_image %>" required>

  <label for="inv_thumbnail">Thumbnail Path:</label>
  <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="<%= inv_thumbnail %>" required>

  <label for="inv_price">Price:</label>
  <input type="text" name="inv_price" id="inv_price" value="<%= inv_price %>" required>

  <label for="inv_miles">Miles:</label>
  <input type="text" name="inv_miles" id="inv_miles" value="<%= inv_miles %>" required>

  <label for="inv_color">Color:</label>
  <input type="text" name="inv_color" id="inv_color" value="<%= inv_color %>" required>

  <!-- <input type="hidden" name="inv_id" value="<%= inv_id %>"> -->
  <button type="submit">Update Vehicle</button>

  <input type="hidden" name="inv_id"
  <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
  <% } %>>
    </form>